<a href="https://colab.research.google.com/github/prajna-nayak-098/Applications-of-python-in-DA-and-ML1/blob/master/Untitled54.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

7.
print(sorted([(input("Enter name: "), input("Enter salary: ")) for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of students4
Enter rollno: 4al17cs059
Enter marks: 25
Enter rollno: 4al17cs060
Enter marks: 35
Enter rollno: 4al17cs061
Enter marks: 50
Enter rollno: 4al17cs059
Enter marks: 100
[('4al17cs061', '50'), ('4al17cs060', '35'), ('4al17cs059', '25'), ('4al17cs059', '100')]
Enter number of employees2
Enter name: prajna
Enter salary: 10000
Enter name: pallavi
Enter salary: 2000
[('pallavi', '2000'), ('prajna', '10000')]