<a href="https://colab.research.google.com/github/prajna-nayak-098/Applications-of-python-in-DA-and-ML1/blob/master/Untitled69.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=int(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
for key,value in d.items():
    if value>=2000 and value<=4000:
         print(d[key],"=",key)

Enter no of records2
Enter name 1nanan
Enter salary 110000
Enter name 2plalll
Enter salary 22000
input:  {'nanan': 10000, 'plalll': 2000}
2000 = plalll