<a href="https://colab.research.google.com/github/prajna-nayak-098/Applications-of-python-in-DA-and-ML1/blob/master/Untitled62.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records3
Enter name 1prajna
Enter mark 156
{'prajna': 56}
Enter name 2pallavi
Enter mark 236
{'prajna': 56, 'pallavi': 36}
Enter name 3pana
Enter mark 3100
{'prajna': 56, 'pallavi': 36, 'pana': 100}